<ion-content [fullscreen]="true">
    <div class="profile">
      <h1>PROFILE</h1>
    <p>Username: {{ username }}</p>

    <div class="password-field" *ngIf="isPasswordFieldVisible">
      <ion-label>Current password</ion-label>
      <ion-input [(ngModel)]="currentPassword" type="password" required></ion-input>

      <ion-label>New password</ion-label>
      <ion-input [(ngModel)]="newPassword" type="password" required></ion-input>

      <button>Confirm</button>
      <!--(click)="changePassword()"-->
    </div>

    <button class="passwordBtn" (click)="togglePasswordField()">CHANGE PASSWORD</button>
      <div class="dog">
      <h2>Pet name: {{ petName || dogStats.name }}</h2>
      <p>Smart: {{ dogStats?.smart }}</p>
      <p>Speed: {{ dogStats?.speed }}</p>
      <p>Strength: {{ dogStats?.strength }}</p>
      </div>

      <div class="sleep-time">
        <h2 class="sleep-title">
          Adjust notifications
          <p>Its important that everyone gets at least 8 hours sleep.</p>
        </h2>

        <div class="time-picker">
          <ion-item>
            <ion-label position="stacked">Sleep Time</ion-label>
            <ion-datetime presentation="time" displayFormat="HH:mm" [(ngModel)]="sleepTime"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Wake Time</ion-label>
            <ion-datetime presentation="time" displayFormat="HH:mm" [(ngModel)]="wakeTime"></ion-datetime>
          </ion-item>
        </div>
        
        <button ion-button (click)="saveSleepSchedule()">SAVE</button>
      </div>
      
      <button (click)="returnToGame()">RETURN TO GAME</button>
    </div>
  
</ion-content>

<ion-modal *ngIf="isModalVisible" #levelUpModal>
  <ng-template>
      <ion-button (click)="closeModal()" slot="end" class="modalCloseBtn">X</ion-button>
      <h2 class="modalTitle">Select a stat to upgrade:</h2>
      <ion-button (click)="upgradeStat('smart')" class="statBtn">Smart</ion-button>
      <ion-button (click)="upgradeStat('speed')" class="statBtn">Speed</ion-button>
      <ion-button (click)="upgradeStat('strength')" class="statBtn">Strength</ion-button>
  </ng-template>
</ion-modal>


