<ion-content [fullscreen]="true">
    <div class="profile">
      <h1>PROFILE</h1>
    <p class="pet-name">Pet name: {{ petName }}</p>

      <div class="stats-conteiner">
      <h2>Level: {{ level }}</h2>
      <h3>STATS</h3>
      <p>Smart: {{ petSmart }}</p>
      <p>Speed: {{ petSpeed }}</p>
      <p>Strength: {{ petStrength }}</p>
      </div>

      <!--<div class="password-field" *ngIf="isPasswordFieldVisible">
        <label>Current password</label>
        <input [(ngModel)]="currentPassword" type="password" required>
  
        <label>New password</label>
        <input [(ngModel)]="newPassword" type="password" required>
  
        <button (click)="changePassword()">Confirm</button>

      </div>
  
      <button class="passwordBtn" (click)="togglePasswordField()">CHANGE PASSWORD</button>-->

      <div class="sleep-time" *ngIf="isSleepFieldVisible">
        <h2 class="sleep-title">
          Adjust notifications
          <p>Its important that everyone gets at least 8 hours sleep.</p>
        </h2>

        <div class="time-picker">
          <ion-item>
            <ion-label position="stacked"></ion-label>
            <ion-datetime presentation="time" displayFormat="HH:mm" [(ngModel)]="sleepTime"></ion-datetime>
          </ion-item>
        </div>
        
        <button (click)="saveSleepSchedule()">SAVE</button>
      </div>

      <button (click)="toggleSleepField()" class="sleepBtn">SET NOTIFICATIONS TIME</button>
      
      <button (click)="returnToGame()" class="returnBtn">RETURN TO GAME</button>
      <!--<button (click)="logOut()" class="logOutBtn">LOG OUT</button>
      <button (click)="confirmDeleteProfile()" class="deleteBtn">DELETE PROFILE</button>-->
      <button (click)="quitApp()" class="quitBtn">QUIT</button>
    </div>
  
</ion-content>





