<ion-content [fullscreen]="true">

  <div class="conteiner">

    <div class="top-btn-container">
      <!--<button class="topBtn">
        <img src="assets/vs.png" alt="vs icon" class="top-btn-img">
      </button>
     <button class="topBtn">
        <img src="assets/hide.png" alt="hide icon" (click)="increaseSmart()" class="top-btn-img">
      </button>
      <button class="topBtn">
        <img src="assets/ball.png" alt="ball icon" (click)="increaseSpeed()" class="top-btn-img">
      </button>
      <button class="topBtn">
        <img src="assets/burried bone.png" alt="burried icon" (click)="increaseStrength()" class="top-btn-img">
      </button>-->
      <button class="topBtn" (click)="profile()">
        <img src="assets/pokal.png" alt="pokal icon" class="top-btn-img">
    </button>
    </div>

      <div class="stats">

        <div class="level-bar">
          <div class="level-progress-bar" [ngStyle]="{'height': gameState.progressBarWidth + '%'}"></div>
        </div>
    
      <div class="dog">
        <img [src]="petImage" alt="selected dog" class="dog_img" [class.jump]="isJumping" (click)="makeDogJump()">
        <img src="assets/dog_heart.png" alt="heart icon" class="heart_img" *ngIf="showHeart">
      </div>
     </div>  
     
    <div class="buttons-container">
  
      <button (click)="bath()" class="statsBtn">
        <div class="img_container" [ngStyle]="{'height': getContainerHeight(purityValue), 'background-color': getStatusColor(purityValue)}"></div>
        <img src="assets/bath.png" alt="bath icon" class="imgBtn">
      </button>
  
      <button (click)="sleep()" class="statsBtn">
        <div class="img_container" [ngStyle]="{'height': getContainerHeight(fatigueValue), 'background-color': getStatusColor(fatigueValue)}"></div>
        <img src="assets/lighting.png" alt="sleep icon" class="imgBtn">
      </button>
  
      <button (click)="care()" class="statsBtn">
        <div class="img_container" [ngStyle]="{'height': getContainerHeight(attentionValue), 'background-color': getStatusColor(attentionValue)}"></div>
        <img src="assets/heart.png" alt="care icon" class="imgBtn">
      </button>
  
      <button (click)="feed()" class="statsBtn">
        <div class="img_container" [ngStyle]="{'height': getContainerHeight(hungerValue), 'background-color': getStatusColor(hungerValue)}"></div>
        <img src="assets/ham.png" alt="food icon" class="imgBtn">
      </button>      
  
    </div>
  
  </div>

  <ion-modal #levelUpModal [isOpen]="isLevelUpModalVisible" (willDismiss)="onLevelUpModalDismiss()" align="center" class="levelUpModal">
    <ng-template>
      <!--<ion-button (click)="closeLevelUpModal()" slot="end" class="modalCloseBtn">X</ion-button>-->
      <h2 class="modalTitle">Select a stat to upgrade:</h2>
      <ion-button (click)="upgradeStat('smart')" class="statBtn">Smart</ion-button>
      <ion-button (click)="upgradeStat('speed')" class="statBtn">Speed</ion-button>
      <ion-button (click)="upgradeStat('strength')" class="statBtn">Strength</ion-button>
    </ng-template>
  </ion-modal>


  <ion-modal #actionModal [isOpen]="isActionModalVisible" (willDismiss)="onActionModalDismiss()" class="actionModal">
    <ion-content>
      <div *ngIf="nextActionMessage">
        <ion-button (click)="closeActionModal()" class="modalCloseBtn" slot="end">X</ion-button>
        <p>{{ nextActionMessage }}</p>
      </div>
    </ion-content>
  </ion-modal>
  
  
</ion-content>


