ion-content {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  --background: url("/assets/game background.jpg") no-repeat center center / cover;
  background-attachment: fixed;
  background-size: contain;
  background-position: center;
}

.conteiner {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dog {
    position: relative;
  }

  .dog_img {
    height: 90vmin;
    width: 90vmin;
    transition: transform 0.3s ease-in-out;
  }

  .dog_img.jump {
    animation: jump 0.5s ease;
  }

  @keyframes jump {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
  }

  .heart_img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 10%;
    opacity: 0;
    animation: heart-rise 1s forwards ease-in-out;
  }

  @keyframes heart-rise {
    0% {
      bottom: 95%;
      opacity: 1;
    }
    100% {
      bottom: 130%;
      opacity: 0;
    }
  }

  .buttons-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
    position: absolute;
    bottom: 0;
  }

  .top-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
  }

  button {
    height: 20vmin;
    width: 20vmin;
    margin: 0.4rem;
    clip-path: polygon(8% 0, 94% 0, 100% 15%, 100% 87%, 92% 100%, 14% 100%, 0 90%, 0 18%);
    background-color: #d3ba77;
   // box-shadow: 0 4px 8px rgba(251, 5, 5, 0.912);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    //overflow: hidden; 
    transition: height 0.5s ease, background-size 0.5s ease;
  }

  .statsBtn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(8% 0, 94% 0, 100% 15%, 100% 87%, 92% 100%, 14% 100%, 0 90%, 0 18%);
    box-shadow: inset 0px 0px 0px 8px #bc9664;
  }

  .topBtn {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -0.6rem;
  }

  .topBtn img {
    height: 16vmin;
    width: 16vmin;
  }

  .img_container {
    transition: height 0.5s ease;
    clip-path: polygon(8% 0, 94% 0, 100% 15%, 100% 87%, 92% 100%, 14% 100%, 0 90%, 0 18%);
    height: 15vmin;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    z-index: 0;
    //background-size: 100% 0%;
    //margin: 1rem;
    //padding: 10rem;
  }

  .imgBtn {
    position: absolute; 
    height: 15vmin;
    width: auto;
    object-fit: contain;
  }

.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /*position: absolute;
  top: 20%;*/
  left: 2.8vmin;
  width: 100%;
  //height: 100vmin;
  overflow: hidden;
  border-radius: 10px;
  z-index: 9999;
  background-color: transparent;
  margin-top: 8rem;
}

.level {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr; 
  width: 100%;
}

.level-bar {
  height: 100vmin;
  width: 18vmin;
  border: 10px solid #bb9664;
  background-color: #d3ba77;
  border-radius: 8px;
  position: absolute;
  left: 1rem;
  margin-bottom: 7rem;
}

.level-progress-bar {
width: 13.5vmin; 
background-color: #faffb9; 
transition: height 0.5s ease;
position: absolute;
bottom: 0;
}

//modal
ion-modal {
  display: grid;
  place-items: center;
  justify-content: center;
  align-items: center;
  height: 70vmin;
  --background: #bc9763;
  --backdrop-opacity: 0;
  position: absolute;
  top: 10%;
  padding-bottom: 1rem;
}

ion-modal::part(content) {
  padding-bottom: 1rem;
}

.modalCloseBtn {
  --background: rgb(255, 62, 62);
  width: 10%;
  margin-left: 0.5rem;
}

.modalTitle {
  font-family: "Baloo 2", sans-serif;
  font-size: 1.2rem;
  padding: 0 1rem;
  text-shadow: 
    2px 2px 0 #bb9764, 
    2px -2px 0 #bb9764, 
    -2px 2px 0 #bb9764, 
    -2px -2px 0 #bb9764, 
    2px 0px 0 #bb9764, 
    0px 2px 0 #bb9764, 
    -2px 0px 0 #bb9764,
     0px -2px 0 #bb9764;
     color: white;
}

.statBtn {
  width: 70%;
  margin: 0 auto;
  --background: #d3ba77;
  --box-shadow: none;
  font-family: "Baloo 2", sans-serif;
  font-size: 0.8rem;
}

@media (min-width: 360px) {
  .dog_img {
    height: 75vmin;
    width: 75vmin;
    position: relative;
    top: 1rem;
  }
}

@media (min-width: 800px) {
  .topBtn {
    height: 10vmin;
    margin-bottom: 1rem;
  }

.top-btn-img {
  max-height: 12vmin;
  max-width: 12vmin;
  }

  .level-bar {
    height: 60vmin;
    width: 13vmin;
  }
  .dog_img {
    height: 55vmin;
    width: 55vmin;
    position: relative;
    top: 1rem;
  }

  .statsBtn::after {
    box-shadow: inset 0px 0px 0px 15px #bc9664;
  }

  .level-progress-bar {
    width: 10.5vmin; 
    }

    .top-btn-container {
      padding-top: 2rem;
    }
}

@media (min-width: 1024px) {
  .dog_img {
    height: 50vmin;
    width: 50vmin;
    position: relative;
    top: 1rem;
  }

  .level-progress-bar {
    width: 11.2vmin; 
    }
} 

