ion-content {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    --background: url("/assets/game background.jpg") no-repeat center center / cover;
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
  }

form {
    background-color: #d3ba77;
    border-radius: 50px 50px 0px 0px;
    box-shadow: -2px -5px 0px 8px #bc9763;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 2.8rem;
    font-family: "Baloo 2", sans-serif;
    font-weight: 900;
    word-spacing: 0.5rem;
    color: white;
    text-shadow: 
    6px 6px 0 #bb9764, 
    6px -6px 0 #bb9764, 
    -6px 6px 0 #bb9764, 
    -6px -6px 0 #bb9764, 
    6px 0px 0 #bb9764, 
    0px 6px 0 #bb9764, 
    -6px 0px 0 #bb9764,
     0px -6px 0 #bb9764;
}

div {
    width: 90%;
}

.label {
    font-family: "Baloo 2", sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    color: white;
    margin: 0.4rem;
    text-shadow: 
    4px 4px 0 #bb9764, 
    4px -4px 0 #bb9764, 
    -4px 4px 0 #bb9764, 
    -4px -4px 0 #bb9764, 
    4px 0px 0 #bb9764, 
    0px 4px 0 #bb9764, 
    -4px 0px 0 #bb9764,
     0px -4px 0 #bb9764;
}

.input {
    background-color: #fffaef;
    border: 8px solid #bc9763;
    width: 100%;
    height: 19vmin;
    border-radius: 10px;
    text-indent: 1rem;
}

.button {
    background: #c9ac5f;
    color: white;
    font-family: "Baloo 2", sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    vertical-align: middle;
    line-height: 0;
    text-shadow: 
    2px 2px 0 #bb9764, 
    2px -2px 0 #bb9764, 
    -2px 2px 0 #bb9764, 
    -2px -2px 0 #bb9764, 
    2px 0px 0 #bb9764, 
    0px 2px 0 #bb9764, 
    -2px 0px 0 #bb9764,
     0px -2px 0 #bb9764;
     width: 90%;
     height: 18vmin;
     margin: 2rem 0;
     border: 6px solid #fffaef;
     border-radius: 5px;
     --box-shadow: none;
}
