<ion-content [fullscreen]="true">
      <form (ngSubmit)="onLogin()">
        <h1>login</h1>
        <div>
            <ion-label position="floating" class="label">account</ion-label>
            <ion-input [(ngModel)]="username" name="username" required class="input"></ion-input>

            <ion-label position="floating" class="label">password</ion-label>  
            <ion-input [(ngModel)]="password" name="password" type="password" required class="input"></ion-input>
        </div> 
        <ion-button type="submit" class="button">LOGIN</ion-button>
      </form>
    
</ion-content>
