<ion-content [fullscreen]="true">

  <div class="conteiner">

    <div class="top-btn-container">
      <button class="topBtn" (click)="profile()">
        <img src="assets/v.png" alt="v icon">
      </button>
      <button class="topBtn">
        <img src="assets/bone.png" alt="bone icon">
      </button>
      <button class="topBtn">
        <img src="assets/vs.png" alt="vs icon">
      </button>
    </div>

    <div class="level-bar">
      <p>LV: {{ level }}</p>
      <div class="level-progress-bar" [ngStyle]="{'width': progressBarWidth + '%'}"></div>
      <h1>{{ petName }}</h1>
    </div>

      <div class="stats">
        <div class="status-bar-outer"></div>
        <div class="status-bar" [ngStyle]="{'height': currentStatValue + '%', 'background-color': currentStatColor}"></div>
    
      <div class="dog">
        <img [src]="selectedDogImage" alt="selected dog" class="dog_img" [class.jump]="isJumping" (click)="makeDogJump()">
        <img src="assets/dog_heart.png" alt="heart icon" class="heart_img" *ngIf="showHeart">
      </div>
     </div>  
     
    <div class="buttons-container">
  
      <button (click)="bath()">
        <div class="img_container" [ngStyle]="{'height': getContainerHeight(purityValue), 'background-color': '#d3ba77'}">
        <img src="assets/bath.png" alt="bath icon" class="imgBtn">
        </div>
      </button>
  
      <button (click)="sleep()">
        <div class="img_container" [ngStyle]="{'height': getContainerHeight(fatigueValue), 'background-color': '#d3ba77'}">
        <img src="assets/lighting.png" alt="sleep icon" class="imgBtn">
        </div>
      </button>
  
      <button (click)="care()">
        <div class="img_container" [ngStyle]="{'height': getContainerHeight(attentionValue), 'background-color': '#d3ba77'}">
        <img src="assets/heart.png" alt="care icon" class="imgBtn">
        </div>
      </button>
  
      <button (click)="feed()">
        <div class="img_container" [ngStyle]="{'height': getContainerHeight(hungerValue), 'background-color': '#d3ba77'}">
        <img src="assets/ham.png" alt="food icon" class="imgBtn">
        </div>
      </button>
  
    </div>
  
  </div>
  
</ion-content>
