<ion-content [fullscreen]="true">

<div class="main-container">
  <h1>PICK A PET</h1>

  <div *ngIf="!playMode" class="mode-warning"></div>

<!-- image 1-->
  <div class="slide fade" [ngClass]="{'active-slide': currentSlideIndex === 0}">
    <div class="container">
      <div class="pet-container">
        <div class="pet stats">
          <p>Smart: 10</p>
          <p>Speed: 5</p>
          <p>Strength: 5</p>
        </div>
        <img src="assets/select dog 1.png" alt="dog 1" class="dog-img" loading="lazy">
         </div>
    </div>
  </div>

  <!-- image 2-->
  <div class="slide fade" [ngClass]="{'active-slide': currentSlideIndex === 1}">
    <div class="container">
      <div class="pet-container">
        <div class="pet stats">
          <p>Smart: 5</p>
          <p>Speed: 10</p>
          <p>Strength: 5</p>
        </div>
        <img src="assets/select dog 2.png" alt="dog 2" class="dog-img" loading="lazy">  
      </div>
    </div>
  </div>

  <!-- image 3-->
  <div class="slide fade" [ngClass]="{'active-slide': currentSlideIndex === 2}">
    <div class="container">
      <div class="pet-container">
        <div class="pet stats">
          <p>Smart: 5</p>
          <p>Speed: 5</p>
          <p>Strength: 10</p>
        </div>
        <img src="assets/select dog 3.png" alt="dog 3" class="dog-img" loading="lazy">  
      </div>
    </div>
  </div>

  <!-- Navigation Buttons -->
  <button class="prev" (click)="plusSlides(1);">
    <div class="prev"></div>
  </button>
  <button href="#next" class="next" (click)="plusSlides(-1);">
    <div class="next"></div>
  </button>

  <button class="pickBtn" (click)="game();">Pick this pet</button>

  <div *ngIf="showInput" class="nameInput">
    <label position="floating">Enter Pet Name:</label>
    <input [(ngModel)]="petName" placeholder="Enter pet name here" name="petName" type="text" required/>
    <button (click)="game()" class="nameConfirmBtn">Confirm</button>
  </div>

</div>
  
</ion-content>
